# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build artifacts
build/
dist/
*.spec

# Virtual environments
venv/
env/
.env/

# Editor / IDE settings
.vscode/
.idea/
